@import url('tailwindcss');

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

:root {
  --font-sans:
    'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Martian Mono', monospace;
  font-family: var(--font-sans);
  --primary-color: #432dd7;
  --text-color: #fff;
  --border-radius: 4px;
  --border-color: #eee;
}

html,
body {
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-border: #eee;
  --color-background: #fff;
  --color-primary: oklch(45.7% 0.24 277.023);
  --color-secondary: oklch(48.8% 0.243 264.376);
  --color-muted: oklch(92.8% 0.006 264.531);
}
