---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <main class="flex flex-col h-screen items-center justify-center gap-8">
    <img class="w-[320px]" src="/404.svg" />
    <h1 class="text-xl font-bold">错误404: 页面找不到了</h1>
    <div>抱歉，我们找遍了全世界，也没有找到你想要的页面</div>
  </main>
</BaseLayout>
