<header
  class="fixed top-0 left-0 z-10 w-full flex items-center h-16 bg-background border-b border-border px-4"
>
  <nav class="flex items-center shrink-0">
    <h2 class="flex items-center space-x-4">
      <a href="/">
        <img class="h-10 w-auto" src="/logo.svg" alt="AIProxy Shop" />
      </a>
    </h2>
  </nav>

  <div class="flex-1"></div>
</header>
