<header
  class="fixed top-0 left-0 z-10 w-full flex items-center h-16 bg-background border-b border-border px-4"
>
  <nav class="flex items-center shrink-0">
    <h2>
      <a href="/">
        <img class="h-10 w-auto" src="/logo.svg" alt="AIProxy Shop" />
      </a>
    </h2>
  </nav>

  <div class="flex-1"></div>

  <div class="flex items-center mx-6">
    <a
      class="text-sm select-none cursor-pointer whitespace-nowrap"
      href="/docs/get-started">文档</a
    >
  </div>

  <div class="flex items-center space-x-4">
    <a class="action-sign-in whitespace-nowrap" href="https://app.aiproxy.shop/"
      >登录</a
    >
    <a
      class="action-sign-up whitespace-nowrap"
      href="https://app.aiproxy.shop/auth/login">马上注册</a
    >
  </div>
</header>
<style is:global>
  .action-sign-in {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: var(--border-radius);
    color: var(--primary-color);
    cursor: pointer;
  }

  .action-sign-up {
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
  }

  @media screen and (max-width: 48rem) {
    .action-sign-in {
      display: none;
    }
  }
</style>
