---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import BaseLayout from './BaseLayout.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'

type Props = {
  title?: string
  description?: string
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props
---

<BaseLayout title={title} description={description}>
  <Header />
  <main class="pt-16 border-b border-border">
    <slot />
  </main>
  <Footer />
</BaseLayout>
